{% extends "layout.html" %}

{% block css %}
<style type="text/css">
    .form-inline .form-group { margin-right:10px; }
    .well-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
    border-color: rgb(53, 126, 189);
    }
    .glyphicon { margin-right:5px; }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a><span class="glyphicon glyphicon-file">
                            </span>POST NEW SUBMISSION</a>
                        </h4>
                    </div>
                    <form class="panel-collapse" method="POST">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{form.title(type="text", class_="form-control", placeholder="Title")}}
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Content" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="well well-sm">
                                        <div class="input-group">
                                            <span class="input-group-addon">URL</span>
                                            {{form.url(type="text", class_="form-control", placeholder="Submission
                                            URL")}}
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="well well-sm">
                                        <div>
                                            <input class="btn btn-default btn-submit" type="submit" value="Submit">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}