/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

.btn .btn-default{
  margin-left: 6px;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}

.nav > li > a {
  padding-right: 25px;
}

/* Submission list*/

.ui-group-buttons{display:inline-block;vertical-align:middle}
.ui-group-buttons:after{content:".";display:block;height:0.25em;clear:both;visibility:hidden}
.ui-group-buttons .btn{float:left;border-radius:0}
.ui-group-buttons .btn:first-child{margin-left:0;border-top-left-radius:.25em;border-bottom-left-radius:.25em;padding-right:15px}
.ui-group-buttons .btn:last-child{border-top-right-radius:0em;border-bottom-right-radius:0em;padding-left:15px}

h3 {
    margin-top: 0px;
    margin-bottom: 2px;
}

h4, h3 {
margin-top: 5px;
margin-bottom: 2.5px;
word-break: break-word;
word-break: break-all;
-ms-word-break: break-all;
-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

.col-lg-10{
word-break: break-word;
word-break: break-all;
-ms-word-break: break-all;
-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

.list-group-item {
padding: 5px 5px;}

.col-md-1 {
    padding-right: 0px;
}

.postbtns{
    border: 0px solid transparent;
}

a:visited {color: inherit;}  /* visited link */