{% extends "layout.html" %}
{% block content %}
<div class="body-content">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-10 col-md-11">
                    <div>
                        <h3>
                            <a href="{{post.url}}">
                                {{ post.title }}</a>
                        </h3>
                    </div>
                    <div>
                        <small>
                        <span id="{{post.id}}_up_submission">
                        <a id="upvote"
                           class="btn btn-success btn-sm fa  fa-chevron-up">
                            {{ post.ups}}</a>
                        </span>
                        <span id="{{post.id}}_down_submission">
                        <a id="downvote"
                           class="btn btn-danger btn-sm fa  fa-chevron-down">
                            {{ post.downs }}
                        </a>
                        </span>
                        <span id="comments_{{post.id}}">
                        <a id="sub_{{post.id}}_num_comments"
                           class="btn btn-default btn-sm fa fa-comments-o"
                           href="/comments/{{post.id}}"> {{ post.comment_count }}</a>
                        </span>
                            <span>
                        <a href="/user/{{post.author}}"
                           class="btn btn-default btn-sm fa fa-user"
                                > {{post.author}}</a>
                        </span>
                            {% if session.admin %}
                        <span id="submission_{{post.id}}">
                            <a id="admin_remove"
                               class="btn btn-default btn-sm fa fa-ban"> remove
                            </a>
                        </span>
                            {% endif %}
                        </small>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form accept-charset="UTF-8">
                        <textarea class="form-control" placeholder="Type in your comment" rows="3"
                                  style="margin-bottom:10px;" id="reply_{{post.id}}_root"></textarea>
                        <h6 class="pull-right" id="char_counter">5000 characters left</h6>
                        <a class="btn btn-default" id="submit_comment">Post New
                            Comment</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%- for comment in post.get_comments() recursive %}
<div id="{{comment.id}}" style="margin-bottom: 15px; margin-left: {{comment.level * 1}}em">
    <div class="media-body">
        <small class="pull-right time"><i class="fa fa-clock-o"></i>
            <abbr class="timeago" title="{{comment.get_timestamp()}}">{{comment.get_timestamp()}}</abbr>
        </small>
        <h5 style="margin-left: 1em;"><a href="/user/{{comment.author}}">{{ comment.author}}</a></h5>
        <small class="col-lg-10">{{ comment.content }}</small>
    </div>
    <div style="margin-top:0.5em;">
        <small style="margin-left: 1.25em;">
                        <span id="{{comment.id}}_up_comment">
                        <a id="upvote"
                           class="btn btn-success btn-sm fa  fa-chevron-up">
                            {{ comment.ups}}</a>
                        </span>
                        <span id="{{comment.id}}_down_comment">
                        <a id="downvote"
                           class="btn btn-danger btn-sm fa  fa-chevron-downs">
                            {{comment.downs }}</a>
                        </span>
            {% if comment.level < n_limit %}
                        <span id="{{comment.id}}">
                        <a id="show_reply"
                           class="btn btn-info btn-sm fa  fa-reply"
                                > reply </a>
                        </span>
            {% endif %}
            {% if session.admin %}
                        <span id="comment_{{comment.id}}">
                            <a id="admin_remove"
                               class="btn btn-default btn-sm fa fa-ban"> remove
                            </a>
                        </span>
            {% endif %}
        </small>
    </div>
</div>
{% if comment.level < n_limit %}
<div class="container" id="reply_{{comment.id}}" style="display:none; margin-left: {{comment.level * 2.5}}em">
    <div class="row">
        <div class="col-sm-4 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form accept-charset="UTF-8">
                        <textarea class="form-control" placeholder="Type in your comment" rows="3"
                                  style="margin-bottom:10px;" id="reply_{{post.id}}_{{comment.id}}"></textarea>
                        <h6 class="pull-right" id="char_counter">5000 characters left</h6>
                        <a class="btn btn-default" id="submit_comment">Post Reply</a>
                        <a class="btn btn-default" id="hide_reply">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{%- if comment.get_comments() -%}
{{ loop(comment.get_comments()) }}
{%- endif %}
{% endfor %}
{% endblock %}
