{% extends "_layouts/base.html" %}
{% block content %}
<div class="body-content">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-10 col-md-11">
                    <div>
                        <h3>
                            <a href="{{post.url|safe}}">
                                {{ post.title|safe }}</a>
                        </h3>
                    </div>
                    <div>
                        <small>
                        <span id="{{post.id}}_up">
                        <a id="upvote"
                           class="btn btn-success btn-sm glyphicon glyphicon-thumbs-up postbtns">
                            {{ post.ups}}</a>
                        </span>
                        <span id="{{post.id}}_down">
                        <a id="downvote"
                           class="btn btn-danger btn-sm glyphicon glyphicon-thumbs-down postbtns">
                            {{post.downs }}</a>
                        </span>
                        <span id="comments">
                        <a id="sub_{{post.id}}_num_comments"
                           class="btn btn-default btn-sm glyphicon glyphicon-comment postbtns"
                                > {{post.comment_count}}</a>
                        </span>
                        </small>
                        <span>
                        <small style="position: relative; top: 0.25em;">
                            <span class="glyphicon glyphicon-user"> </span>
                            <a href="/user/{{post.author}}">
                                {{post.author}}</a>
                            <span class="glyphicon glyphicon-time" style="padding-left: 10px;"> </span>
                            <abbr class="timeago" title="{{post.timestamp}}">{{post.get_timestamp()}}</abbr>
                        </small>
                        </span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form accept-charset="UTF-8">
                        <textarea class="form-control" placeholder="Type in your comment" rows="3"
                                  style="margin-bottom:10px;" id="reply_{{post.id}}_root"></textarea>
                        <h6 class="pull-right" id="char_counter">5000 characters left</h6>
                        <a class="btn btn-default" id="submit_comment">Post New
                            Comment</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%- for comment in post.get_comments() recursive %}
<div class="message-wrap col-lg-8">
    <div class="msg-wrap" style="margin-bottom: 15px; margin-left: {{comment.get_indent()}}">
        <div class="media msg" id="{{comment.id}}">
            <a class="pull-left" href="#">
                <img class="media-object" alt="64x64" style="width: 32px; height: 32px;"
                     src="../static/images/profile.png">
            </a>

            <div class="media-body" id="wrong one">
                <small class="pull-right time"><i class="fa fa-clock-o"></i>
                    <abbr class="timeago" title="{{comment.get_timestamp()}}">{{comment.get_timestamp()}}</abbr>
                </small>
                <h5 class="media-heading"><a href="/user/{{comment.author}}">{{ comment.author}}</a></h5>
                <small class="col-lg-10">{{ comment.content }}</small>
            </div>
            {% if comment.level < n_limit %}
            <a id="show_reply">reply</a>
            {% endif %}
        </div>
    </div>
</div>
{% if comment.level < n_limit %}
<div class="container" id="reply_{{comment.id}}" style="display:none; margin-left: {{comment.get_indent()}}">
    <div class="row">
        <div class="col-sm-4 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form accept-charset="UTF-8">
                        <textarea class="form-control" placeholder="Type in your comment" rows="3"
                                  style="margin-bottom:10px;" id="reply_{{post.id}}_{{comment.id}}"></textarea>
                        <h6 class="pull-right" id="char_counter">5000 characters left</h6>
                        <a class="btn btn-default" id="submit_comment">Post New
                            Comment</a>
                        <a class="btn btn-default" id="hide_reply">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{%- if comment.get_comments() -%}
{{ loop(comment.get_comments()) }}
{%- endif %}
{% endfor %}
{% endblock %}
