<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>{% block page_title %}

        Flask

        {% endblock %}
    </title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">

    {% assets "common_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% block css %}{% endblock %}


</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">FP</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/submit">Submit</a></li>
                    </ul>

                    {% if session.logged_in %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                class="glyphicon glyphicon-envelope"></span> Inbox <span
                                class="label label-info">5</span>
                        </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><span class="label label-warning">4:00 AM</span>Comment reply</a></li>
                                <li><a href="#"><span class="label label-warning">4:30 AM</span>Comment reply</a></li>
                                <li><a href="#"><span class="label label-warning">5:00 AM</span>Comment reply</a></li>
                                <li class="divider"></li>
                                <li><a href="/inbox" class="text-center">View All</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                class="glyphicon glyphicon-user" style="margin-right: 5px;"></span>{{ session.username
                            }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/user/{{session.username}}"><span class="glyphicon glyphicon-user"></span>
                                    Profile</a></li>
                                <li class="divider"></li>
                                <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/register">Sign Up</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
                            <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                                <li>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form class="form" accept-charset="UTF-8" id="login-nav" action="/login/">
                                                <div class="form-group">
                                                    <label class="sr-only" for="username">Username</label>
                                                    <input type="text" class="form-control" id="username"
                                                           placeholder="Username" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="password">Password</label>
                                                    <input type="password" class="form-control" id="password"
                                                           placeholder="Password" required>
                                                </div>
                                                <div class="form-group" id="div_button">

                                                </div>
                                                <h6 id="login_response" class="text-center"></h6>
                                                <a class="btn btn-success btn-block" id="sign_in">Sign in</a>

                                            </form>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
</div>


<header>{% block header %}{% endblock %}</header>
<div class="{% block content_class %}container{% endblock content_class %}">

    <div role="main">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="row">
            <div class="col-md-12">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
                    {{message}}
                </div>
                <!-- end .alert -->
                {% endfor %}
            </div>
            <!-- end col-md -->
        </div>
        <!-- end row -->
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>

</div>
<!-- end container -->

{% include "_layouts/footer.html" %}

<!-- JavaScript at the bottom for fast page loading -->
{% assets "common_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% block js %}
{% endblock %}
<!-- end scripts -->
{% endblock %}
</body>
</html>
