{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="../static/images/profile.png" alt="" class="img-rounded img-responsive"/>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            {{ user.username }}</h4>
                        <small><cite title="San Francisco, USA">San Francisco, USA <i
                                class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>email@example.com
                            <br/>
                            <i class="glyphicon glyphicon-globe"></i><a href="htp://example.com">www.example.com</a>
                            <br/>
                            <i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if session.admin and session.username!=user.username %}
<span id="user_{{user.id}}">
                            <a id="admin_remove"
                               class="btn btn-default btn-sm postbtns">Delete user
                            </a>
                        </span>
{% endif %}

{% endblock %}